<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<table
    class="root"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="
        font-family: sans-serif;
        color: #333333;
        padding: 0;
        font-size: 16px;
      "
>
  <tr style="color: #333333; padding: 0; font-size: 16px">
    <td align="center" style="color: #333333; padding: 0; font-size: 16px">
      <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="600"
          style="color: #333333; padding: 0; font-size: 16px"
      >
        <tr style="color: #333333; padding: 0; font-size: 16px">
          <td
              id="header"
              height="0"
              style="height: 0; line-height: 0; padding: 0"
              align="center"
          >
            <img
                src="https://github.com/kookmin-sw/capstone-2024-07/assets/67682840/f3b85be4-996a-467e-a61d-99cd8729f5ea"
                alt="로고"
                style="display: block; width: 300px; height: auto"
                width="300"
                height="auto"
            />
          </td>
        </tr>
        <tr style="color: #333333; padding: 0; font-size: 16px">
          <td id="body" style="color: #333333; padding: 0; font-size: 16px">
            <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                style="
                    width: 100%;
                    color: #333333;
                    padding: 0;
                    font-size: 16px;
                  "
            >
              <tr style="color: #333333; padding: 0; font-size: 16px">
                <td
                    id="title"
                    align="center"
                    style="
                        color: #333333;
                        padding: 0;
                        font-size: 24px;
                        font-weight: bold;
                        padding-top: 48px;
                      "
                >
                  임시 비밀번호
                </td>
              </tr>
              <tr>
                <td style="text-align: center; padding-top: 64px">
                  <table
                      align="center"
                      class="auth-code"
                      style="
                          width: 374px;
                          height: 98px;
                          background-color: #f1f2f6;
                          font-size: 48px;
                          font-weight: bold;
                          text-align: center;
                          border-radius: 4px;
                          margin-left: auto;
                          margin-right: auto;
                        "
                      width="374"
                      height="98"
                      bgcolor="#f1f2f6"
                  >
                    <tr>
                      <td><span th:text="${password}"></span></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr style="color: #333333; padding: 0; font-size: 16px">
                <td
                    id="content"
                    style="
                        color: #333333;
                        width: 100%;
                        padding: 0;
                        font-size: 16px;
                        padding-top: 48px;
                        padding-bottom: 64px;
                        text-align: center;
                      "
                >
                  임시 비밀번호가 발급되었습니다.
                  <br />
                  로그인 후 비밀번호를 변경해주세요.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>